:root {
  font-family: var(--font-family-body, system-ui, sans-serif);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 320px;
  background-color: var(--background-primary);
  color: white;
}

.playground {
  max-width: 900px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

section {
  margin-top: 2rem;
}

h1,
h2 {
  margin: 0;
}

p {
  margin-top: 1rem;
}
